/*
  Custom Font Declarations
  Southern Tents and Events
*/

/* Arno Pro Light Display - Elegant serif for headings/display */
@font-face {
  font-family: 'Arno Pro';
  src: url('/fonts/ArnoPro-LightDisplay copy.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Beverly Hills - Luxury font for navigation */
@font-face {
  font-family: 'Beverly Hills';
  src: url('/fonts/BeverlyHillsTypeface-Regular copy.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
